### Backend ###
backend/node_modules
backend/.env
backend/public/*
!backend/public/files
backend/public/files/*

### Frontend ###
# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

### Database ###
db/*
!db/backups
db/backups/*

!.gitignore

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

#Final
